<div class="container">
  <h2>Create Account</h2>
  <p style="text-align: center; margin-top: 10px">
    Have an account? <a href="signin.html">Sign in</a>.
  </p>
  <form>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Create Account</button>
  </form>

  <p style="text-align: center; margin-top: 10px">
    By creating an account, you agree to our
    <a href="terms-of-service.html" target="_blank">Terms of Service</a>.
  </p>

  <div class="social-buttons">
    <button class="social-button google-button">
      <i class="fab fa-google"></i> Continue with Google
    </button>
    <button class="social-button facebook-button">
      <i class="fab fa-facebook"></i> Continue with Facebook
    </button>
  </div>
</div>
